table {
  border-collapse: collapse;
  margin-top: 40px;
}

td {
   min-width: 200px;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  text-align: left;
  background-color: #eeeeee;
  max-width: 70px;
}

small {
  font-weight: normal;
}